<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>FutureGateway API Server</display-name>
    <context-param>
        <description>
            Path where files are temporary stored. Default value is 'FutureGatewayData' directory outside the webapp directory;
        </description>
        <param-name>CacheDir</param-name>
        <param-value>/tmp/FutureGateway</param-value>
    </context-param>
    <context-param>
        <description>
            SubmissionThreadPoolSize: size of thread pool used for the task submission.
            The maximum size is the 4 times this value. Default value is 20.
        </description>
        <param-name>SubmissionThreadPoolSize</param-name>
        <param-value>10</param-value>        
    </context-param>
    <context-param>
        <description>
            MonitorQueueSize: size of queue ot task to monitor.
            Default value is 5000.
        </description>
        <param-name>MonitorQueueSize</param-name>
        <param-value>5000</param-value>        
    </context-param>
    <context-param>
        <description>
            MonitorThreadPoolSize: size of thread pool used for the task monitoring.
            Default value is 20.
        </description>
        <param-name>MonitorThreadPoolSize</param-name>
        <param-value>10</param-value>        
    </context-param>
    <context-param>
        <description>
            MonitorInterval: interval between two status check on the same resource.
            Default value is 60000.
        </description>
        <param-name>MonitorInterval</param-name>
        <param-value>60000</param-value>        
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>Connection to the DB used for JPA</description>
        <res-ref-name>jdbc/FutureGatewayDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-ref>
        <description></description>
        <res-ref-name>threads/Submitter</res-ref-name>
        <res-type>java.util.concurrent.ExecutorService</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-ref>
        <description></description>
        <res-ref-name>queue/Monitor</res-ref-name>
        <res-type>it.infn.ct.futuregateway.apiserver.inframanager.MonitorQueue</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
